/* Custom Font Face Declarations */

@font-face {
  font-family: 'Ortica Linear';
  src: url('../assets/fonts/OrticaLinear-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ortica Linear';
  src: url('../assets/fonts/OrticaLinear-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ortica Linear';
  src: url('../assets/fonts/OrticaLinear-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Absans';
  src: url('../assets/fonts/Absans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aujournuit';
  src: url('../assets/fonts/Aujournuit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

